@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}


.top {
    background-image: url("images/section-1(header).jpg");
    background-attachment: fixed;
    height: 1012px;
}

.header {
    height: 120px;
    background-color: rgba(0,0,0, 0.5);

}

.header-content {
    width: 1160px;
    margin: 0 auto;
    height: 120px;
}


.logo{
    width: 180px;
    height: 120px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}




.logo-h {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    text-align: left;
    margin-left: -45px;
}

.logo-text {
    font-size:  32px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 20px;
}

.logo-span {
    color: #18cfab;
    font-size:  32px;
    font-weight: 700;
}

.nav-bar {
    width: 980px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar-link a{
    text-transform: uppercase;
    padding-bottom: 51px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #b8b8b8;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 53px;
    border-bottom: 2px solid transparent;
}

.nav-bar-link:hover a{
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.icon-search {
    cursor: pointer;
    font-size: 18px;
}
.icon-search:hover{
    color: #18cfab;
    border-bottom: none;
}


.creative {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.ham-wordpress {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;
}

.span-wordpress {
    color: #18cfab;
}

.we-creative {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 79px;
    margin-top: 35px;
    font-weight: 900;
}


.text-under-h {
    color: #d4d4d4;
    font-size: 34px;
    text-align: center;
    margin-top: 36px;
    opacity: 0.5;
}

.buttons {
    text-align: center;
    margin-top: 146px;
}

.button-one {
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    padding: 15px 20px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
    border-radius: 4px;
outline: none;
}

.button-two{
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    padding: 15px 20px;
    margin-left: 20px;
    background-color: #00cbf6;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.options {
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-one:hover {
    transform: scale(1.1);
}

.button-two:hover {
    transform: scale(1.1);
}

.square {
    flex-grow: 1;
    flex-basis: 400px;
    height: 374px;
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.square:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}

.sqr {
    text-transform: uppercase;
    color: #18cfab;
    padding-top: 30px;
    font-size: 20px;

}

.white {
    color: #FFFFFF;
}

.our-service {
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.title-name {
    font-size: 36px;
    text-align: center;
}

.title-our {
    margin-top: 97px;
}

.title-line {
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18cfab;
    background-color: #18cfab;
    margin-bottom: 74px;
    margin-top: 37px;
}

.line-color {
    color: #18cfab;
}

.blocks {
    width: 1160px;
    height: 240px;
}

.blocks-options {
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: inherit;
    color: #717171;
}

.blocks-options:after {
    content: '';
    display: table;
    clear: both;
}

.blocks-options li {
    width: 191px;
    height: 73px;
    background: #f8fcfe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeef;
    cursor: pointer;
}

.blocks-options .first-block {
    background: #18cfab;
    color: #fff;
    position: relative;
    border: 1px solid #18cfab;
}

.blocks-options .first-block:before {
    content: '▼';
    position: absolute;
    bottom: -23px;
    left: 83px;
    right: 0;
    color: #18cfab;
    font-size: 29px;
}

.blocks-content.first-block {
    display: block;
}
.blocks-content {
    display: none;
    margin-top: 25px;
    background-color: #FFFFFF;
}

.blocks-content img {
    width: 194px;
    height: 139px;
}

.block-img {
    float: left;
    margin-right: 20px;
}

.block-text {
    color: #777777;
    font-size: 14px;
    text-align: justify;
    line-height: 1.81;
}


.ready {
    height: 470px;
    background-image: url("images/section-2.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 105px;
}

.ready .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.ready-opasity {
    background-color: rgba(0,0,0,0.78);
    width: 100%;
    height: 470px;
}

.ready-content {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
}

.ready-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}
.ready-text{
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 76px;
}

.our-amazing-work {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #f8fcfe;
    border: 1px solid #e1e1e1;

}



.title-line0 {
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18cfab;
    background-color: #18cfab;
    margin-bottom: 98px;
    margin-top: 30px;
}


.wrapper-image-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.wrapper-image-hover:hover {
    color: #1c71ff;
}

.menu-amazing {
    padding-bottom: 30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.menu-item-category {
    list-style-type: none;
    background-color: #ffffff;
}

.amazing-link{
    color: #717171;
    text-decoration: none;
    background-color: #ffffff;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ebebeb;
}



.wrapper-item {
    list-style-type: none;
    display: block;
    float: left;
    width: 286px;
    height: 208px;
    position: relative;
}

.hidden {
    display: none;
}

.none {
    display: none;
}

.background {
    width: 286px;
    height: 208px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0;
    border-top: 2px solid #18cfab;
}

.background:hover {
    opacity: 1;
    transition: 400ms ;
}

.selected a, .selected a:visited {
    color: #18cfab;
    border-top: 2px solid #18cfab;

}

.item-amazing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper-amazing {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.wrapper-hover-text {
    color: #18cfab;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 32px;
}

.wrapper-hover-text-two {
    color: #8a8a8a;
    margin-top: 13px;
}

.amazing-icons {
    display: flex;
}

.amazing-icons i {
    color: #18cfab;
    padding: 16px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
    font-size: 15px;
}

.amazing-icons i:hover {
    background-color: #18cfab;
    color: #ffffff;
}




.load-more-img {
    padding: 10px 20px;
    background-color: #18cfab;
    color: #ffffff;
    width: 165px;
    height: 60px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 3px ;
    text-transform: uppercase;
    outline: none;
    border: none;
}

.icon-plus {
    color: #FFFFFF;
}

.button-loader-amazing {
    margin-top: 71px;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.breaking-news {
    padding-top: 84px;
    border-bottom: 1px solid #edeff0;
    background-color: #f9fcfe;
}

.title-name1 {
    font-size: 36px;
    text-align: center;
}

.title-line1 {
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18cfab;
    background-color: #18cfab;
    margin-bottom: 70px;
    margin-top: 30px;
}

.breaking-news-blog {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 132px;

}

.blog {
    width: 264px;
    height: 280px;
    display: flex;
    flex-flow: column;
    border: 1px solid #ebebeb;
    margin-right: 28px;
    margin-bottom: 45px;
    position: relative;
}


.blog a.blog-content:hover .name-of-image {
    color: #18cfab;
}

.blog a.blog-content:hover .news-date {
    background-color: #18cfab;
}

.blog:nth-child(4) {
    margin-right: 0;
}
.blog:nth-child(8) {
    margin-right: 0;
}

.news-date {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15.5px;
    padding: 10px 20px;
    background-color: #203e38;
    top: 0;
    right: 0;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.65;
}

.info-under-block {
    width: 263px;
    height: 69px;
    background-color: #f8fcfe;
}

.name-of-image {
    color: #717171;
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
    padding-top: 10px;
    font-weight: bold;
}

.by-admin {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 19px;

}
.slash{
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 19px;
}
.comments {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 19px;
}

.blog-content {
    text-decoration: none;
}


.what-people-say {
    background-image: url("images/section-3.jpg");
    background-attachment: fixed;
    height: 852px;
    background-size: cover;
}

.info-what-people-say {
    padding-top: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.quotes{
    color: #18cfab;
    font-size: 30px;
}

.say-about-text {
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;

}

.slider-content {
    width: 100%;
}

.slider-quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
    text-align: center;
    color: #FFFFFF ;
    margin-top: 44px;
}


.slider-position {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #bbbbbb;
    margin-top: 18px;
    text-align: center;
    display: block;
}


.slider-name {
    font-size: 16px;
    font-weight: 300;
    color: #18cfab;
    margin-top: 43px;
    text-align: center;
    text-transform: uppercase;
}


.img-wrapper {
    background-color: rgba(24, 207, 171, .2);
    overflow: hidden;
    width: 164px;
    height:  163px;
    margin: 27px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.slider-img {
    background-size: contain;
    overflow: hidden;
   width: 141px;
   height:  141px;
    background-position: 52% 31%;
    border: 2px solid #18cfab;
    border-radius: 50%;
}






.img-1 {
    background-image: url("images/2020-04-29 21.11.12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-2 {
    background-image: url("images/max.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-3 {
    background-image: url("images/photo_2020-05-03 12.59.14.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-4 {
    background-image: url("images/artem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-5 {
    background-image: url("images/photo_2020-05-03 13.01.29.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-nav {
    display: flex;
    width: 485px;
    margin: 0 auto;
}


.nav-wrapper {
    display: flex !important;
    width: 69px !important;
    height: 69px;
    align-items: center;
    justify-content: center;
    outline: none;


}

.nav-img {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
}


.fa-angle-right, .fa-angle-left {
    display: flex;
    align-self: center;
    align-items: center;
    width: 31px;
    height: 31px;
    color: #bbbbbb;
    padding: 10px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    box-sizing: border-box;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    background-color: #18cfab;
    border: none;
}


.slider-nav .slick-current {
    bottom: 10px;
    position: relative;

}

.slick-slide {
    outline: none;
}

.slider-nav .slick-current .nav-img  {
    border: 1px solid #18cfab;
}


.wrapper {
    width: 1160px;
    margin: 0 auto;
}
.footer {
    background-color: #22353f;
}

.copyright {
    margin: 0 auto;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #aeaeae;
    padding: 47px 0;
    text-align: center;

}

.footer-ham {
    color: #18cfab;
}
